language: ruby
rvm:
  - 2.3.0
services:
  - postgresql
env:
  - DB=postgres
before_script:
  - psql -c 'create database happy_trails_clone_test;' -U postgres
script:
  - xvfb-run bundle exec rspec
cache: bundler
sudo: false
