<article>
  <% flash.each do |key, value| %>
    <%= content_tag :div, class: "alert alert-dismissible alert-#{key}" do %>
      <%= sanitize(value) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% end %>
  <% end %>
</article>
