.trail-day-form {
  margin-left: 8em;
  margin-right: 8em;

  h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }

  .btn-default {
    width: 100%;
    color: whitesmoke;
    background-color: rgba(71, 132, 114, 0.7);
  }
  input[type=submit]:hover {
    background-color: rgba(71, 132, 114, 1);
  }

  .form-control {
    margin-top: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }

  .btn-default {
    margin-top: 1.5em;
  }

  @media (max-width: 768px) {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}