.map-trail-day-locator {
  position: fixed;
  top: 52px;
  min-width: 400px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.submit-starting-location {
  button {
    background-color: #143849;
    display: block;
    cursor: pointer;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: 600;
    position: absolute;
    top: 8em;
    right: 4em;
    z-index: 1;
    border-radius: 3px;
    max-width: 20%;
    color: #fff;
  }
}
