---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?access_token=<ACCESS_TOKEN>&per_page=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"72ce9c580a8032e0e2277d59c56fc7c2"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - d4734f82304b91efb9c7be9c3eacd1af
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '8,18'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":875800612,"resource_state":2,"external_id":"6033EBB5-4043-4D66-803B-653B7CB6A7B5","upload_id":968943956,"athlete":{"id":19613252,"resource_state":1},"name":"Morning
        Ride","distance":7093.4,"moving_time":1290,"elapsed_time":1614,"total_elevation_gain":10.1,"type":"Ride","start_date":"2017-02-22T15:14:03Z","start_date_local":"2017-02-22T08:14:03Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.76,-105.06],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null,"location_country":null,"start_latitude":39.76,"start_longitude":-105.06,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a875800612","summary_polyline":"igsqFpmd`SI{R|EeQtC{CAuzCu@oJ{P{f@tAkBeAyBvDmAdTsYuPgWrJwOkB{FB`BmBo@w@yB`C]kBdB|EtA","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"average_speed":5.499,"max_speed":11.9,"average_watts":68.5,"kilojoules":88.4,"device_watts":false,"has_heartrate":false,"elev_high":1641.6,"elev_low":1576.0,"pr_count":0,"total_photo_count":0,"has_kudoed":false,"workout_type":10},{"id":874072613,"resource_state":2,"external_id":"40B82794-16E0-4E16-9689-EFA201E8E01D","upload_id":967066068,"athlete":{"id":19613252,"resource_state":1},"name":"Evening
        Ride","distance":6748.0,"moving_time":1417,"elapsed_time":1959,"total_elevation_gain":65.3,"type":"Ride","start_date":"2017-02-21T01:09:58Z","start_date_local":"2017-02-20T18:09:58Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-25200.0,"start_latlng":[39.75,-105.0],"end_latlng":[39.76,-105.06],"loca[...]
