---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?access_token=invalid_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Fri, 24 Feb 2017 17:01:02 GMT
recorded_with: VCR 3.0.3
