html {
  height: 100%;
}

body {
  font-family: $font-sans;
  background: linear-gradient(to top, #111, #444);
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}
